*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 50%;
}/*because the width of this is decreased the h1 border is also decreases. That measns h1 is 50% of this*/
main{
    width: 50vw;
    background-color: skyblue;
    font-size: 32px;
}

p{
    font-size: 22px;
    font-size: 2rem;/*2 times of root element .here we do not provise the root size. so it will be the default size 16px,*/
    font-size: 0.5em;/*half of the parent element.*/
    width: 40ch;
    
}
h1{
    border: 2px dashed red;
    width: 50%;/*50% of the header element*/
    font-size: 3rem;
    padding: 0.5em;
}

/*root element is html.
parent element is the elemnt just above the relevant element.here ex= main is the parent of p
parellel elements are called siblings.header and main are siblings*/